<md-sidenav-container fullscreen>
       <md-sidenav #sidenav mode="side" style="color: #ffffff">
           
          
       </md-sidenav>
          
        <md-toolbar color="accent">
 
                  <button class="app-icon-button" (click)="sidenav.toggle(); toggleMenuIcon()">
                    <i *ngIf="toggleIcon" class="material-icons app-toolbar-menu" style="font-size: 60px;">menu</i>
                    <i *ngIf="!toggleIcon" class="material-icons app-toolbar-menu" style="font-size: 60px;">close</i>           
                </button>
                 <span style="position: relative; top: 15px;">Project Name</span>
      </md-toolbar>
        <md-grid-list cols="1" rowHeight="500">
          <md-grid-tile>
              <h1 style="display: inline-block">Project Name</h1>
              <div>
                <a style="display: inline-block" md-fab><i class="material-icons">&#xE313;</i></a>
              </div>
          </md-grid-tile>
        </md-grid-list>

            
</md-sidenav-container>