<md-sidenav-container fullscreen>
       <md-sidenav #sidenav mode="side" style="color: #ffffff">
           
          
       </md-sidenav>
          
        <md-toolbar color="primary">
 
                  <button class="app-icon-button" (click)="sidenav.toggle(); toggleMenuIcon()">
                    <i *ngIf="toggleIcon" class="material-icons app-toolbar-menu" style="font-size: 60px;">menu</i>
                    <i *ngIf="!toggleIcon" class="material-icons app-toolbar-menu" style="font-size: 60px;">close</i>           
                </button>
                 <span style="position: relative; top: 15px; font-size: 30px;">Project Name</span>
                         <button style="position: absolute; right: 10px; top: 15px;" md-button [mdMenuTriggerFor]="menu">
                          <i class="material-icons" style="font-size: 50px;">more_vert</i>
                        </button>
                        <button style="position: absolute; right: 60px; top: 15px;" md-button><i class="material-icons" style="font-size: 45px;">search</i></button>
                        <md-menu #menu="mdMenu">
                          <button md-menu-item>
                            <i class="material-icons">email</i>
                            <span>Check email</span>
                          </button>
                          <button md-menu-item>
                            <i class="material-icons">voicemail</i>
                            <span>Check voicemail</span>
                          </button>
                          <button md-menu-item>
                            <i class="material-icons">settings</i>
                            <span>Settings</span>
                          </button>
                        </md-menu>
      </md-toolbar>
        <md-grid-list cols="1" rowHeight="500">
          <md-grid-tile style="margin-left: 5.5%">
            <ul>
              <li><h1 class="title-styles">Project Name</h1></li>
              <li class="fab-button"><a md-fab><i class="material-icons">&#xE313;</i></a></li>              
            </ul>
                      
          </md-grid-tile>

        </md-grid-list>

            
</md-sidenav-container>